
  @import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');


body{
    background-color: antiquewhite;
}

*{
    margin: 0;
    padding: 0;
}

nav{
    font-family: 'Ubuntu', sans-serif;
}

nav ul{
    display: flex;
    list-style-type: none;
    height: 89px;
    background-color: black;
    color: white;
    align-items: center;
}
nav ul li{
    padding: 0 12px;
    padding-left: 8px;
}

.brand img{
    width: 50px;

}

.brand{
    display: flex;
    align-items: center;
}